PORT=5000
NODE_ENV=development
AUTH_SERVICE_URL=http://auth-service:5001
COMPLAINT_SERVICE_URL=http://complaint-service:5002
ADMIN_SERVICE_URL=http://admin-service:5003
ANALYTICS_SERVICE_URL=http://analytics-service:5004
